<h1> Please enter the URL & Title of the bookmark you'd like to add <h1>
  <form action="/bookmarks" method="post">
    <input type="text" name="url" />
    <input type="text" name="title"/>
    <input type="submit" value="Submit" />
  </form>
